// header style
.header_wrapper {
  background: #111111;
}

.header__item__wrapper {
  display: flex;
  flex-direction: row;
  flex: 1 2;
  // position: absolute;
  height: 64px;
  left: 0px;
  right: 0px;
  top: 0px;
  border-radius: 0px;
  justify-content: center;
  align-items: center;
}

.header__logo {
  // display: flex;
  // flex-direction: row;
  // flex: 1;
  // justify-content: center;
  // align-content: center;
  // text-align: center;
  // align-items: flex-start;
  @media only screen and (max-width: 576px) {
    margin-top: 10px;
  }
}

.header__menu__wraper {
  flex: 3;
}

// Logo Style
.logoStyle {
  text-decoration: none;
  color: #fff;
  margin-top: 8px;
  // justify-content: center;
}
// menu style
.menuStyle {
  display: flex;
  flex-direction: row;
  flex: 1 1;
  justify-content: flex-end;
  margin-left: 20px;
}
.menuItemhold {
  margin: 8px;
  display: flex;
}
// menu item style
.menuItemStyle {
  text-decoration: none;
  list-style-type: none;
  margin: 8px;
  color: #fff;
  text-align: center;
  position: static;
  // width: 76px;
  height: 40px;
  left: 0px;
  top: 0px;

  font-style: regular;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  /* identical to box height, or 180% */

  // display: flex;
  // align-items: center;

  color: #d5d5d5;

  /* Inside Auto Layout */

  // flex: none;
  // order: 0;
  // flex-grow: 0;
  // margin: 0px 75px
}
@media only screen and (max-width: 576px) {
  .header_wrapper {
    flex-direction: column;
  }
  // .header_wrapper {
  //   .container__wrapper {
  //     margin-left: 0px !important;
  //     margin-right: 0px !important;
  //   }
  // }
  .header__mobile_menu__wraper {
    display: block !important;
    margin-left: auto;
    // margin-right: auto;
  }
  .header__menu__wraper {
    display: none;
  }
}
// @media only screen and (min-width: 576px) {
//   .header_wrapper {
//     flex-direction: row;
//   }
// }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  // .header_wrapper {
  //   display: flex;
  //   flex-direction: row;
  //   // flex: 1 2;
  //   position: absolute;
  //   height: 64px;
  //   left: 0px;
  //   right: 0px;
  //   top: 0px;
  //   background: #111111;
  //   border-radius: 0px;
  //   justify-content: center;
  //   align-items: center;
  // }
  .header__menu__wraper {
    display: block;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  // .header_wrapper {
  //   display: flex;
  //   flex-direction: row;
  //   // flex: 1 2;
  //   position: absolute;
  //   height: 64px;
  //   left: 0px;
  //   right: 0px;
  //   top: 0px;
  //   background: #111111;
  //   border-radius: 0px;
  //   justify-content: center;
  //   align-items: center;
  // }
  .header__menu__wraper {
    display: block;
  }
}

.header__mobile_menu__wraper {
  color: white;
  display: none;
}
