.homeContent {
  display: flex;
  flex-direction: column;
  // position: absolute;
  // height: 340px;
  left: 0px;
  right: 0px;
  color: #fff;
  background: #111111;
  //   justify-content: center;
  align-items: center;
  padding: 10px;
  padding-bottom: 124px;
}

.title {
  // font-size: 44px;
  // font-weight: heavy;
  // position: absolute;
  // // width: 882px;
  // // height: 66px;
  // // left: calc(50% - 882px/2);
  // // top: 1490px;

  // font-family: Futura Hv BT;
  // font-style: normal;
  // font-weight: normal;
  // // font-size: 44px;
  // // line-height: 150%;
  // /* identical to box height, or 66px */

  // // display: flex;
  // // align-items: flex-end;

  // color: #d7d7d7;
  font-size: 36px;
  position: absolute;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  color: #d7d7d7;
  margin: 25px;
}
.description {
  // font-size: 22px;
  // font-weight: heavy;

  //     position: absolute;
  // width: 882px;
  // height: 99px;
  // left: calc(50% - 882px/2);
  // top: 1572px;
  top: 1572px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  /* or 33px */

  letter-spacing: 0.013em;
  margin-top: 79px;
  padding-left: 20%;
  padding-right: 17%;
  color: #828282;
}
@media only screen and (max-width: 576px) {
  .title {
    position: relative;
    text-align: center;
    font-size: 30px;
    margin: 10px 25px 0px 25px;
  }
  .description {
    margin-top: 27px;
    font-size: 20px;
    // margin: 10px 20px 0px 20px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .homeContent {
    height: auto;
    padding-bottom: 48px;
  }
}

@media only screen and (min-width: 577px) {
  .description {
    margin-top: 139px;
  }
  .title {
    text-align: center;
  }
}

@media only screen and (min-width: 873px) {
  .description {
    margin-top: 100px;
  }
  .title {
    text-align: center;
  }
}
