.imgItem {
  width: 100%;
  // height: 100%;
  // object-fit: cover;
}

.gridContainer {
  display: grid;
  // grid-auto-columns: 1fr;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 20px;
  // margin-left: 139px;
  // margin-right: 139px;
}
.gridContainerIcon {
  display: grid;
  // grid-auto-columns: 1fr;
  grid-template-columns: 60px 60px 60px 60px;
  // margin-left: 139px;
  // margin-right: 139px;
}
.gridItem {
  grid-row: auto;
}

.gridItemIcon {
  grid-row: auto;
  // width: 80px;
  height: 80px;
}

.gridContainerIconType {
  display: grid;
  // grid-auto-columns: 1fr;
  grid-template-columns: 60px 60px 60px 60px;
  // margin-left: 87px;
}
@media only screen and (max-width: 576px) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(2, auto) !important;
    // margin: auto;
    // justify-content: center;
    margin: 0px 25px !important;
  }
  .gridContainerIconType {
    // display: flex;
    margin: 0px;
    justify-content: center;
    grid-template-columns: repeat(2, 127px) !important;
    // align-items: center;
  }
  .gridContainerIcon {
    margin: 0px;
    // grid-template-columns: repeat(1, 127px) !important;

    justify-content: center;
  }
  gridItemIcon {
    grid-row: auto !important;
    // margin-left: 12% !important;
    width: 0px !important;
    height: 80px;
    justify-content: start;
  }

  .imgItem {
    height: auto;
  }
  .container__wrapper_mobile {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}
@media only screen and (max-width: 1023px) {
  .gridContainer {
    margin-left: 0px;
    margin-right: 0px;
  }
  .gridContainerIcon {
    margin-left: 0px;
    margin-right: 0px;
  }
}
